.div1{
    height:200px;
    width: 200px;
    background-color:blueviolet;
    color:lightcoral;
    position: absolute;
    bottom: 10px;
    right: 100px;
    left: 100px;

}
.div2{
    height:200px;
    width: 200px;
    background-color: black;
    color: white;
    position: absolute;
    margin: 10px;
    bottom: 10px;
    right: 500px;
    left: 200px;

}